
  <p>Signed in to
Companies House<br>
<a class="govuk-link" href="javascript:void(0)">Sign out</a><p>

<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="javascript:void(0)">Your companies</a>
  </li>
  <li>
    <a class="govuk-link" href="javascript:void(0)">My recent filings</a>
  </li>
  <li>
    <a class="govuk-link" href="javascript:void(0)">Company overview</a>
  </li>
  <li>
    <a class="govuk-link" href="javascript:void(0)">Company authentication</a>
  </li>
    <li>
    <a class="govuk-link" href="javascript:void(0)">File for a different company</a>
  </li>
    <li>
    <a class="govuk-link" href="javascript:void(0)">Manage account</a>
  </li>
</ul>
