{% extends "layouts/main.html" %}

{% block pageTitle %}
  Is the company exempt from keeping a people with significant control (PSC) register – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}
      <form action="choose-statement-autocomplete" method="post">
      <div class="govuk-grid-row">


         <div class="govuk-grid-column-one-quarter webfiling-menu">
        {% include "/includes/webfiling-left-menu.html" %}

         </div>
          <div class="govuk-grid-column-three-quarters">


{{ govukRadios({
  name: "exempt",
  value: data['exempt'],
  fieldset: {
    legend: {
      text: "Is the company exempt from keeping a people with significant control (PSC) register?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      checked: "checked"
    },
    {
      value: "no",
      text: "No"
    }
   
  ]
}) }}



{{ govukCheckboxes({
  name: "statement",
  fieldset: {
    legend: {
      text: "Please select the appropriate statement",
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "Select all that apply"
  },
  items: [
    {
      value: "eu",
      text: "The company is exempt from the requirement to obtain information and keep a register of its PSC because the company has voting shares admitted to trading on an EU regulated market"
    },
    {
      value: "schedule",
      text: "The company is exempt from the requirement to obtain information and keep a register of its PSC because the company has voting shares admitted to trading on a market listed in Schedule 1 of the Register of People with Significant Control Regulations 2016"
    },
    {
      value: "uk",
      text: "The company is exempt from the requirement to obtain information and keep a register of its PSC because the company has voting shares admitted to trading on a UK regulated market"
    }
  ]
}) }}


        <div class="govuk-form-group">
          <h2>Which regulated market?</h2>
          <p class="govuk-hint">Start typing a country or regulated market, then choose from the list</p>
          <div id="market" class="autocomplete-wrapper"></div>
        </div>
        <p class="govuk-body">
          <a href="#" id="second-market-link" class="govuk-link govuk-link--no-visited-state">Add a second regulated market</a>
        </p>
        <div id="second-market" class="second-market" style="display: none">
          <div class="govuk-form-group">
            <label for="autocomplete-default" class="govuk-label">Second regulated market (if relevant)</label>
            <p class="govuk-hint">Hint if needed</p>
            <div id="marketTwo" class="autocomplete-wrapper"></div>
          </div>
          <p class="govuk-body">
            <a href="#" id="third-market-link" class="govuk-link govuk-link--no-visited-state">Add a third regulated market</a>
          </p>
        </div>
        <div id="third-market" class="third-market" style="display: none">
          <div class="govuk-form-group">
            <label for="autocomplete-default" class="govuk-label">Third regulated market (if relevant)</label>
            <p class="govuk-hint">Hint if needed</p>
            <div id="marketThree" class="autocomplete-wrapper"></div>
          </div>
        </div>

        
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>


  
  </div>
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
  <script src="/public/javascripts/regulated-markets.js"></script>
{% endblock %}
