{% extends "layouts/main.html" %}

{% block pageTitle %}
  Is the company exempt from keeping a people with significant control (PSC) register – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}
      <form action="where-published" method="post">
      <div class="govuk-grid-row">


         <div class="govuk-grid-column-one-quarter webfiling-menu">
        {% include "/includes/webfiling-left-menu.html" %}

         </div>
          <div class="govuk-grid-column-three-quarters">
<p>Filing for: ACME COMPANY LIMITED (01234567)</p>








        <div class="govuk-form-group">
          <h2>Which EU regulated market?</h2>
          <p class="govuk-hint">Start typing a country or regulated market, then choose from the list.</p>
          <div id="market" class="autocomplete-wrapper"></div>
        </div>
        <p class="govuk-body">
          <a href="#" id="second-market-link" class="govuk-link govuk-link--no-visited-state">Add another regulated market</a>
        </p>
        <div id="second-market" class="second-market" style="display: none">
          <div class="govuk-form-group">
            <label for="autocomplete-default" class="govuk-label">Second regulated market (if relevant)</label>
            <p class="govuk-hint">Hint if needed</p>
            <div id="marketTwo" class="autocomplete-wrapper"></div>
          </div>
          <p class="govuk-body">
            <a href="#" id="third-market-link" class="govuk-link govuk-link--no-visited-state">Add a third regulated market</a>
          </p>
        </div>
        <div id="third-market" class="third-market" style="display: none">
          <div class="govuk-form-group">
            <label for="autocomplete-default" class="govuk-label">Third regulated market (if relevant)</label>
            <p class="govuk-hint">Hint if needed</p>
            <div id="marketThree" class="autocomplete-wrapper"></div>
          </div>
        </div>

        
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>


  
  </div>
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
  <script src="/public/javascripts/regulated-markets.js"></script>
{% endblock %}
