{% extends "layouts/main.html" %}

{% block pageTitle %}
  Is the company exempt from keeping a people with significant control (PSC) register – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}
      <form class="form" action="javascript:void(0)" method="post">

  <div class="govuk-grid-row">


         <div class="govuk-grid-column-one-quarter webfiling-menu">
  {% include "/includes/webfiling-left-menu.html" %}

         </div>
    <div class="govuk-grid-column-three-quarters">






{{ govukRadios({
  name: "exempt",
  value: data['exempt'],
  fieldset: {
    legend: {
      text: "Is the company exempt from keeping a people with significant control (PSC) register?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      checked: "checked"
    },
    {
      value: "no",
      text: "No"
    }
   
  ]
}) }}

{% set germanyHtml %}
{{ govukCheckboxes({
  name: "germany-select",
  fieldset: {
    legend: {
      text: "Which German regulated market?"
    }
  },
  items: [
    {
      value: "#",
      text: "Baden-Wuerttembergische Wertpapierboerse"
    },
     {
      value: "#",
      text: "Baden-wuerttembergische Wertpapierboerse (Regulierter Markt - Technical Platform 2)"
    },
     {
      value: "#",
      text: "Baden-wuerttembergische Wertpapierboerse (Regulierter Markt)"
    },
     {
      value: "#",
      text: "Boerse Berlin (Berlin Second Regulated Market)"
    },
     {
      value: "#",
      text: "Boerse Berlin (Regulierter Markt)"
    },
     {
      value: "#",
      text: "Boerse Berlin Equiduct Trading (Berlin Second Regulated Market)"
    },
     {
      value: "#",
      text: "Boerse Berlin Equiduct Trading (Regulierter Markt)"
    },
     {
      value: "#",
      text: "Boerse Hamburg Lang and Schwarz Exchange (Regulierter Markt)"
    },
     {
      value: "#",
      text: "Boerse Muenchen - Gettex - Regulierter Markt"
    },
     {
      value: "#",
      text: "Boerse Muenchen (Regulierter Markt)"
    },
     {
      value: "#",
      text: "Duesseldorfer Boerse (Regulierter Markt)"
    },
     {
      value: "#",
      text: "Duesseldorfer Boerse Quotrix (Regulierter Markt)"
    },
     {
      value: "#",
      text: "Eurex Deutschland"
    },
     {
      value: "#",
      text: "European Energy Exchange"
    },
     {
      value: "#",
      text: "European Energy Exchange (Regulierter Markt)"
    },
     {
      value: "#",
      text: "Frankfurter Wertpapierboerse (Regulierter Markt - Off-book)"
    },
     {
      value: "#",
      text: "Frankfurter Wertpapierboerse (Regulierter Markt)"
    },
     {
      value: "#",
      text: "Frankfurter Wertpapierboerse Xetra (Reguliertermarkt – Off-book)"
    },
     {
      value: "#",
      text: "Hanseatische Wertpapierboerse Hamburg (Regulierter Markt)"
    },
     {
      value: "#",
      text: "Niedersaechsiche Boerse Zu Hannover (Regulierter Markt)"
    },
     {
      value: "#",
      text: "Tradegate Exchange (Regulierter Markt)"
    },
     {
      value: "#",
      text: "Xetra (Regulierter Markt)"
    }
  ]
}) }}
{% endset -%}

{% set euHtml %}
{{ govukCheckboxes({
  name: "eu-select",
  fieldset: {
    legend: {
      text: "Which EU regulated market?"
    }
  },
  items: [
    {
      value: "#",
      text: "Austria"
    },
      {
      value: "#",
      text: "Belgium"
    },
      {
      value: "#",
      text: "Bulgaria"
    },
      {
      value: "#",
      text: "Croatia"
    },
      {
      value: "#",
      text: "Cyprus"
    },
      {
      value: "#",
      text: "Czechia"
    },
      {
      value: "#",
      text: "Denmark"
    },
      {
      value: "#",
      text: "Estonia"
    },
      {
      value: "#",
      text: "Finland"
    },
      {
      value: "#",
      text: "France"
    },
      {
      value: "#",
      text: "Germany",
      conditional: {
      html: germanyHtml
        }
    },
      {
      value: "#",
      text: "Greece"
    },
      {
      value: "#",
      text: "Hungary"
    },
      {
      value: "#",
      text: "Iceland"
    },
      {
      value: "#",
      text: "Ireland"
    },
      {
      value: "#",
      text: "Italy"
    },
      {
      value: "#",
      text: "Latvia"
    },
      {
      value: "#",
      text: "Lithuania"
    },
      {
      value: "#",
      text: "Luxembourg"
    },
      {
      value: "#",
      text: "Malta"
    },
      {
      value: "#",
      text: "Netherlands"
    },
      {
      value: "#",
      text: "Norway"
    },
      {
      value: "#",
      text: "Poland"
    },
      {
      value: "#",
      text: "Portugal"
    },
      {
      value: "#",
      text: "Romania"
    },
      {
      value: "#",
      text: "Slovakia"
    },
      {
      value: "#",
      text: "Spain"
    },
      {
      value: "#",
      text: "Sweden"
    }
  ]
}) }}
{% endset -%}


{% set israelHtml %}
{{ govukCheckboxes({
  name: "israel-select",
  fieldset: {
    legend: {
      text: "Which Israeli market?"
    }
  },
  items: [
    {
      value: "tase",
      text: "Tel Aviv Stock Exchange"
    }
  ]
}) }}
{% endset -%}

{% set japanHtml %}
{{ govukCheckboxes({
  name: "japan-select",
  fieldset: {
    legend: {
      text: "Which Japanese market?"
    }
  },
  items: [
    {
      value: "fse",
      text: "Fukuoka Stock Exchange"
    },
      {
      value: "nse",
      text: "Nagoya Stock Exchange"
    },
      {
      value: "ose",
      text: "Osaka Securities Exchange"
    },
      {
      value: "sse",
      text: "Sapporo Securities Exchange"
    },
      {
      value: "tse",
      text: "Tokyo Stock Exchange"
    }
  ]
}) }}
{% endset -%}

{% set switzerlandHtml %}
{{ govukCheckboxes({
  name: "switzerland-select",
  fieldset: {
    legend: {
      text: "Which Swiss market?"
    }
  },
  items: [
    {
      value: "bxbe",
      text: "BX Berne Exchange"
    },
      {
      value: "sixse",
      text: "SIX Swiss Exchange"
    }
  ]
}) }}
{% endset -%}

{% set usaHtml %}
{{ govukCheckboxes({
  name: "usa-select",
  fieldset: {
    legend: {
      text: "Which American market?"
    }
  },
  items: [
    {
      value: "#",
      text: "BATS Exchange, Inc."
    },
     {
      value: "#",
      text: "BATS Y-Exchange, Inc."
    }, {
      value: "#",
      text: "BOX Options Exchange LLC"
    },
     {
      value: "#",
      text: "Chicago Board Options Exchange, Incorporated"
    },
     {
      value: "#",
      text: "Chicago Stock Exchange, Inc."
    }, {
      value: "#",
      text: "EDGA Exchange, Inc."
    },
     {
      value: "#",
      text: "EDGX Exchange, Inc."
    }, {
      value: "#",
      text: "International Securities Exchange, LLC"
    },
     {
      value: "#",
      text: "ISE Gemini LLC"
    },
     {
      value: "#",
      text: "Miami International Securities Exchange LLC"
    },
     {
      value: "#",
      text: "NASDAQ OMX BX, Inc."
    },
     {
      value: "#",
      text: "NASDAQ OMX PHLX LLC"
    },
     {
      value: "#",
      text: "The NASDAQ Stock Market LLC"
    },
     {
      value: "#",
      text: "National Stock Exchange, Inc."
    },
     {
      value: "#",
      text: "New York Stock Exchange LLC"
    },
     {
      value: "#",
      text: "NYSE Arca, Inc."
    }, 
    {
      value: "#",
      text: "NYSE MKT LLC"
    }
  ]
}) }}
{% endset -%}


{% set scheduleHtml %}
{{ govukCheckboxes({
  name: "schedule-select",
  fieldset: {
    legend: {
      text: "Which market listed in Schedule 1 of the Register of People with Significant Control Regulations 2016?"
    }
  },
  hint: {
    text: "Select all that apply."
  },
  items: [
    {
      value: "israel",
      text: "Israel",
        conditional: {
        html: israelHtml
        }
    },
    {
      value: "japan",
      text: "Japan",
        conditional: {
        html: japanHtml
        }
    },
    {
      value: "switzerland",
      text: "Switzerland",
        conditional: {
        html: switzerlandHtml
        }
    },
    {
      value: "usa",
      text: "United States of America",
        conditional: {
        html: usaHtml
        }
    }
  ]
}) }}
{% endset -%}





{% set ukHtml %}
{{ govukCheckboxes({
  name: "uk-select",
  fieldset: {
    legend: {
      text: "Which UK regulated market?"
    }
  },
  hint: {
    text: "Select all that apply."
  },
  items: [
    {
      value: "tlme",
      text: "The London Metal Exchange"
    },
    {
      value: "ife",
      text: "ICE Futures Europe"
    },
    {
      value: "lse",
      text: "London Stock Exchange"
    },
    {
      value: "asel",
      text: "Aquis Stock Exchange Limited"
    },
    {
      value: "ceerm",
      text: "Cboe Europe Equities Regulated Market"
    }
  ]
}) }}
{% endset -%}




{{ govukCheckboxes({
  name: "statement",
  fieldset: {
    legend: {
      text: "Please select the appropriate statement",
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "Select all that apply"
  },
  items: [
    {
      value: "eu",
      text: "The company is exempt from the requirement to obtain information and keep a register of its PSC because the company has voting shares admitted to trading on an EU regulated market",
        conditional: {
        html: euHtml
        }
    },
    {
      value: "schedule",
      text: "The company is exempt from the requirement to obtain information and keep a register of its PSC because the company has voting shares admitted to trading on a market listed in Schedule 1 of the Register of People with Significant Control Regulations 2016",
        conditional: {
        html: scheduleHtml
        }
    },
    {
      value: "uk",
      text: "The company is exempt from the requirement to obtain information and keep a register of its PSC because the company has voting shares admitted to trading on a UK regulated market",
        conditional: {
        html: ukHtml
      }
    }
  ]
}) }}




        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>


  
  </div>

{% endblock %}
