{% extends "layouts/main.html" %}

{% block pageTitle %}
  Which regulated market does the company have voting shares admitted to? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}
      <form action="where-published" method="post">
      <div class="govuk-grid-row">


         <div class="govuk-grid-column-one-quarter webfiling-menu">
        {% include "/includes/webfiling-left-menu.html" %}

         </div>
          <div class="govuk-grid-column-three-quarters">
<p>Filing for: ACME COMPANY LIMITED (01234567)</p>








        <div class="govuk-form-group">
          <h2>Which regulated market does the company have voting shares admitted to?</h2>
          <p class="govuk-hint">Start typing a country or regulated market, then choose from the list.</p>
          <div id="market" class="autocomplete-wrapper"></div>
        </div>
       

        
        {{ govukButton({
          text: "Continue"
        }) }}


    </div>


  
  </div>
        </form>
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
  <script src="/public/javascripts/regulated-markets.js"></script>
{% endblock %}
