{% extends "layouts/main.html" %}

{% block pageTitle %}
  Choose a design – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}
      <form class="form" action="/choose-design" method="post">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">





{{ govukRadios({
  name: "design",
    value: data['design'],
  fieldset: {
    legend: {
      text: "Choose a design",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "autocomplete",
      text: "Autocomplete"
    },
    {
      value: "nested",
      text: "Nested radio buttons"
    }
   
  ]
}) }}




        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

  </div>


  
  </div>

{% endblock %}
