{% extends "layouts/main.html" %}

{% block pageTitle %}
  Which regulated market does the company have voting shares admitted to? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}
      <form action="where-published" method="post">
      <div class="govuk-grid-row">


         <div class="govuk-grid-column-one-quarter webfiling-menu">
        {% include "/includes/webfiling-left-menu.html" %}

         </div>
          <div class="govuk-grid-column-three-quarters">
<p>Filing for: ACME COMPANY LIMITED (01234567)</p>








        <div class="govuk-form-group">

    {% if (data['statement'] == "uk") %}
          <h1>Which UK regulated market does the company have voting shares admitted to?</h1>
    {% elif (data['statement'] == "eu") %}
          <h1>Which EU regulated market does the company have voting shares admitted to?</h1>
    {% elif (data['statement'] == "schedule") %}
          <h1>Which regulated market in another country does the company have voting shares admitted to?</h1>
    {% else %}
          <h1>Which regulated market does the company have voting shares admitted to?</h1>
    {% endif %}




          <p class="govuk-hint">Start typing a country or regulated market, then choose from the list. You’ll be able to add more regulated markets later, if you need to.</p>
          <div id="market" class="autocomplete-wrapper"></div>
        </div>
       

        
        {{ govukButton({
          text: "Continue"
        }) }}


    </div>


  
  </div>
</form>
  <script src="/public/javascripts/accessible-autocomplete.js"></script>

    {% if (data['statement'] == "uk") %}
      <script src="/public/javascripts/regulated-markets-uk.js"></script>
    {% elif (data['statement'] == "eu") %}
      <script src="/public/javascripts/regulated-markets-eu.js"></script>
    {% elif (data['statement'] == "schedule") %}
      <script src="/public/javascripts/regulated-markets-other.js"></script>
    {% else %}
      <script src="/public/javascripts/regulated-markets.js"></script>
    {% endif %}





{% endblock %}
