{% extends "layouts/main.html" %}

{% block pageTitle %}
  Has the company been subject to DTR5 throughout this confirmation period? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}
      <form class="form" action="exempt-status" method="post">

  <div class="govuk-grid-row">


         <div class="govuk-grid-column-one-quarter webfiling-menu">
  {% include "/includes/webfiling-left-menu.html" %}

         </div>
    <div class="govuk-grid-column-three-quarters">



<p>Filing for: ACME COMPANY LIMITED (01234567)</p>




{{ govukRadios({
  name: "statement",
  fieldset: {
    legend: {
      text: 'Has the company been subject to DTR5 throughout this confirmation period?',
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
    hint: {
    text: 'If so, we will not ask you to provide shareholder information in this confirmation statement.'
  },
  items: [
    {
      value: "yes",
      text: "Yes"    },
    {
      value: "no",
      text: "No"
    }
   
  ]
}) }}

<!---<p>If you answer NO to the above question you will be asked to provide the names and addresses of those shareholders with 5% or more shareholdings as at the date of the confirmation statement.</p>-->



{{ govukDetails({
  summaryText: "What's DTR5?",
  html: '<p>DTR5 refers to Vote Holder and Issuer Notification Rules in <a href="" target="https://www.handbook.fca.org.uk/handbook/DTR/5.pdf">Chapter 5 of the Financial Conduct Authority&rsquo;s Disclosure and Transparency Rules (opens in a new tab)</a>.</p><p>It applies to UK companies with shares traded on a market. Under DTR5, shareholders must notify the company if their shareholding reaches or falls below certain percentage thresholds (starting at 3%).</p>'
}) }}



        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>


  
  </div>

{% endblock %}
