{% extends "layouts/main.html" %}

{% block pageTitle %}
On the confirmation statement date, does the company have voting shares admitted to trading on a regulated market? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}
      <form class="form" action="/exempt-status" method="post">

  <div class="govuk-grid-row">


         <div class="govuk-grid-column-one-quarter webfiling-menu">
  {% include "/includes/webfiling-left-menu.html" %}

         </div>
    <div class="govuk-grid-column-three-quarters">



<p>Filing for: ACME COMPANY LIMITED (01234567)</p>


{{ govukRadios({
  name: "exempt",
  fieldset: {
    legend: {
      text: "On the confirmation statement date, does the company have voting shares admitted to trading on a UK or EU regulated market, or a market listed in Schedule 1 of the Register of People with Significant Control Regulations 2016?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
    hint: {
    text: "If the answer is yes, this means the company is not required to provide Companies House with information about its people with significant control (PSCs). "
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
   
  ]
}) }}




        {{ govukButton({
          text: "Continue"
        }) }}
        <a href="dtr5" class="webfiling-back-link">Back</a>

      </form>

    </div>


  
  </div>

{% endblock %}
