{% extends "layouts/main.html" %}

{% block pageTitle %}
  Regulated markets you have added – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">


         <div class="govuk-grid-column-one-quarter webfiling-menu">
  {% include "/includes/webfiling-left-menu.html" %}

         </div>
    <div class="govuk-grid-column-three-quarters">

<p>Filing for: ACME COMPANY LIMITED (01234567)</p>



      <h1 class="govuk-heading-l">Regulated markets you have added:</h1>



      <div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <p>(Germany) Boerse Berlin Equiduct Trading (Berlin Second Regulated Market) - Published on the regulated market I have selected</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden">(Germany) Boerse Berlin Equiduct Trading (Berlin Second Regulated Market) - Published on the regulated market I have selected</span></a>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <p>(Japan) Fukuoka Stock Exchange - Published	on the issuer website www.example.com/something</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden">(Japan) Fukuoka Stock Exchange - Published	on the issuer website www.example.com/something</span></a>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">






{{ govukRadios({
  classes: "govuk-radios--inline",
  name: "addMarket",
  fieldset: {
    legend: {
      text: "Do you need to add another regulated market?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}



       {{ govukButton({
          text: "Continue"
        }) }}


    </div>
  </div>
{% endblock %}



    
