{% extends "layouts/main.html" %}

{% block pageTitle %}
On the confirmation statement date, is the company exempt from Part 21A of the Companies Act 2006? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}
      <form class="form" action="/exempt-status" method="post">

  <div class="govuk-grid-row">


         <div class="govuk-grid-column-one-quarter webfiling-menu">
  {% include "/includes/webfiling-left-menu.html" %}

         </div>
    <div class="govuk-grid-column-three-quarters">



<p>Filing for: ACME COMPANY LIMITED (01234567)</p>


{{ govukRadios({
  name: "exempt",
  fieldset: {
    legend: {
      text: "On the confirmation statement date, is the company exempt from Part 21A of the Companies Act 2006?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
    hint: {
    text: "This means that it does not need to provide information about its people with significant control (PSCs) to Companies House."
  },
  items: [
    {
      value: "yes",
      text: "Yes",
         hint: {
        text: "We'll ask you for more information about why the company is exempt on the following pages"
      }
    },
    {
      value: "no",
      text: "No"
    }
   
  ]
}) }}




        {{ govukButton({
          text: "Continue"
        }) }}
        <a href="dtr5" class="webfiling-back-link">Back</a>

      </form>

    </div>


  
  </div>

{% endblock %}
