{% extends "layouts/main.html" %}

{% block pageTitle %}
  Is the company exempt from keeping a people with significant control (PSC) register – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}
      <form class="form" action="/exempt-status" method="post">

  <div class="govuk-grid-row">


         <div class="govuk-grid-column-one-quarter webfiling-menu">
  {% include "/includes/webfiling-left-menu.html" %}

         </div>
    <div class="govuk-grid-column-three-quarters">



<p>Filing for: ACME COMPANY LIMITED (01234567)</p>


{{ govukRadios({
  name: "exempt",
  value: data['exempt'],
  fieldset: {
    legend: {
      text: "Is the company exempt from keeping a people with significant control (PSC) register?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
    hint: {
    text: "A company is exempt if it has voting shares admitted to trading on a regulated market. "
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
   
  ]
}) }}


{{ govukDetails({
  summaryText: "The company was previously exempt",
  html: '<p>If the company was exempt before but is not exempt now, select No. </p>You must <a href="https://www.gov.uk/file-changes-to-a-company-with-companies-house" target="_blank">tell us about your PSCs (opens in a new tab)</a>.<p></p>'
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>


  
  </div>

{% endblock %}
