{% extends "layouts/main.html" %}

{% block pageTitle %}
  Markets added – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">


         <div class="govuk-grid-column-one-quarter webfiling-menu">
  {% include "/includes/webfiling-left-menu.html" %}

         </div>
    <div class="govuk-grid-column-three-quarters">
      <form class="form" action="/exemptions-check-answers" method="post">

<p>Filing for: ACME COMPANY LIMITED (01234567)</p>



      <h1 class="govuk-heading-l">Markets added</h1>

      <p class="govuk-body">You've told us that the company has voting shares admitted to trading on:</p>

      <div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <ul class="govuk-list govuk-!-margin-bottom-0">

      
      <li>An EU regulated market (Germany) Boerse Berlin Equiduct Trading (Berlin Second Regulated Market)<li>
       <!--  <li>Published on the website for ACME COMPANY LIMITED<li>-->
    <!-- <li>Voting shares admitted to trading on this market 3 March 2020<li>-->

    </ul>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden">An EU regulated market (Germany) Boerse Berlin Equiduct Trading (Berlin Second Regulated Market)</span></a>
  </div>

  
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <ul class="govuk-list govuk-!-margin-bottom-0">

      
      <li>A market listed in Schedule 1 of the Register of People with Significant Control Regulations 2016 Switzerland - BX Berne Exchange<li>
      <!-- <li>Published on the regulated market's website<li>-->
     <!-- <li>Voting shares admitted to trading on this market 1 January 2023<li>-->

    </ul>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden">A market listed in Schedule 1 of the Register of People with Significant Control Regulations 2016 Switzerland - BX Berne Exchange</span></a>
  </div>

</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



<!--<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <ul class="govuk-list govuk-!-margin-bottom-0">
      <li>A regulated market in another country</li>
      <li>(Japan) Fukuoka Stock Exchange</li>
      <li>Published on the regulated market's website<li>
      <li>Voting shares admitted to trading on this market 25 November 2002<li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden">(Japan) Fukuoka Stock Exchange -  Published on the regulated market's website</span></a>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">-->






{{ govukRadios({
  classes: "govuk-radios--inline",
  name: "addMarket",
  fieldset: {
    legend: {
      text: "Do you need to add another market?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
  text: 'You should tell us about all UK or EU regulated markets, or Schedule 1 markets, that the company has voting shares admitted to.'
},
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}



       {{ govukButton({
          text: "Continue"
        }) }}
        <a href="choose-market-autocomplete" class="webfiling-back-link">Back</a>

</form>
    </div>
  </div>
{% endblock %}



    
