{% extends "layouts/main.html" %}

{% set pageName="PSC Exemptions" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1>PSC Exemptions</h1>

       {{ govukWarningText({
      text: "This prototype is being actively worked on - things might break or change very quickly",
      iconFallbackText: "Warning"
    }) }}

<p><a class="govuk-link" href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1721890786730/f36b7c64265b39302d0e03d3fd8b04e751080837?wid=0-1723707277286" target="_blank">Link to Mural (opens in new tab)</a></p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="choose-design">Choose design - radio buttons or autocomplete</a></li>
        <li><a class="govuk-link" href="exempt-status">Exemption status</a></li>
        <li><a class="govuk-link" href="exempt-reason">Exemption reason (nested radio buttons)</a></li>
        <li><a class="govuk-link" href="exempt-reason-autocomplete">Exemption reason (autocomplete)</a></li>
        <li><a class="govuk-link" href="choose-market-autocomplete">Choose market (autocomplete)</a></li>
        <li><a class="govuk-link" href="where-published">Where is this exemption information published?</a></li>
        <li><a class="govuk-link" href="exemptions-check-answers">Check your answers</a></li>
      </ul>


  </div>
</div>

{% endblock %}
