{% extends "layouts/main.html" %}

{% set pageName="PSC Exemptions" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1>PSC Exemptions</h1>

       {{ govukWarningText({
      text: "This prototype is being actively worked on - things might break or change very quickly",
      iconFallbackText: "Warning"
    }) }}

      <h2>Shortcuts</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="choose-statement">Choose statement (nested radio buttons)</a></li>
        <li><a class="govuk-link" href="choose-statement-autocomplete">Choose statement (autocomplete)</a></li>
        <li><a class="govuk-link" href="">Here</a></li>
        <li><a class="govuk-link" href="">Here</a></li>
        <li><a class="govuk-link" href="">Here</a></li>

      </ul>


  </div>
</div>

{% endblock %}
