{% extends "layouts/main.html" %}

{% set pageName="PSC Exemptions" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1>PSC Exemptions</h1>

       {{ govukWarningText({
      text: "This prototype is being actively worked on - things might break or change very quickly",
      iconFallbackText: "Warning"
    }) }}

<p><a class="govuk-link" href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1721890786730/f36b7c64265b39302d0e03d3fd8b04e751080837?wid=0-1723707277286" target="_blank">Link to Mural (opens in new tab)</a></p>

<p><a class="govuk-link" href="https://companieshouse-my.sharepoint.com/:w:/g/personal/lscott_companieshouse_gov_uk/EaiPZmtjaClMtzoSWXn-rDEB3ehy93pEIfweyM1WScBpFg?e=3YMtdM" target="_blank">Error messages</a></p>

      <ul class="govuk-list govuk-list--bullet">
    
        <li><a class="govuk-link" href="trading-on-a-market">Were any of the company’s shares admitted to trading on a market at any time during the confirmation period?</a></li>
        <li><a class="govuk-link" href="dtr5">Has the company been subject to DTR5 throughout the confirmation period?</a></li>
        <li><a class="govuk-link" href="exempt-status">On the confirmation statement date, is the company exempt from Part 21A of the Companies Act 2006?</a></li>
   
        <li><a class="govuk-link" href="exempt-reason-autocomplete">Which type of market does the company have voting shares admitted to?</a></li>

       <li><a class="govuk-link" href="choose-market-autocomplete">Which (UK regulated/EU regulated/Schedule 1) market does the company have voting shares admitted to?</a></li>
 
        <li><a class="govuk-link" href="exemptions-check-answers">Markets added</a></li>
           <li><a class="govuk-link" href="exemptions-statement">PSC exemption statement</a></li>
        <li><a class="govuk-link" href="confirmation-statement-accordion">Main confirmation statement accordion</a> (this is a screengrab) </li>

</ul>


<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<p>These screens are no longer needed:</p>
      <ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link" href="choose-design">Choose design - radio buttons or autocomplete</a></li>
        <li><a class="govuk-link" href="exempt-reason">Exemption reason (nested radio buttons)</a></li>
               <li><a class="govuk-link" href="where-published">Where is the company's shareholder information for this market published?</a></li>
        <li><a class="govuk-link" href="date-of-exemption">What date did the company first have voting shares admitted to trading on this market?</a></li>
</ul>

  </div>
</div>

{% endblock %}
