{% extends "layouts/main.html" %}

{% block pageTitle %}
  Were any of the company's shares admitted to trading on a market at any time during this confirmation statement period? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}
      <form class="form" action="dtr5" method="post">

  <div class="govuk-grid-row">


         <div class="govuk-grid-column-one-quarter webfiling-menu">
  {% include "/includes/webfiling-left-menu.html" %}

         </div>
    <div class="govuk-grid-column-three-quarters">



<p>Filing for: ACME COMPANY LIMITED (01234567)</p>




<div class="govuk-form-group">

  <fieldset class="govuk-fieldset" aria-describedby="statement-hint">
    
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        During this confirmation period, were any of the company’s shares admitted to trading on a market?
      </h1>
    </legend>
  
    <div id="statement-hint" class="govuk-hint">
     <a href="https://ewf-stg-aws.companieshouse.gov.uk/help/en/stdwf/faqHelp.html#filingConfirmationStatement:~:text=What%20is%20a%20%27,uk/register/exchanges.do" target="_blank">What is a 'traded company' and a 'regulated market'? (link opens in a new tab)</a>
    </div>
  
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="statement" name="statement" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="statement">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="statement-2" name="statement" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="statement-2">
          No
        </label>
      </div>
    </div>
  
  </fieldset>

</div>







        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>


  
  </div>

{% endblock %}
