{% extends "layouts/main-chs.html" %}

{% block pageTitle %}
Were any of the company’s shares admitted to trading on a market at any time during the confirmation period? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}
      <form class="form" action="/trading-on-a-market" method="post">

  <div class="govuk-grid-row">


         <div class="govuk-grid-column-one-quarter webfiling-menu">
  {% include "/includes/webfiling-left-menu.html" %}

         </div>
    <div class="govuk-grid-column-three-quarters">



<p>Filing for: ACME COMPANY LIMITED (01234567)</p>




<div class="govuk-form-group">

  <fieldset class="govuk-fieldset" aria-describedby="statement-hint">
    
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Were any of the company’s shares admitted to trading on a market at any time during the confirmation period?
      </h1>
    </legend>
  
    <p class="govuk-hint"></p>
  
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="statement" name="statement" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="statement">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="statement-2" name="statement" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="statement-2">
          No
        </label>
      </div>
    </div>
  
  </fieldset>

</div>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What does this question mean?
    </span>
  </summary>
  <div class="govuk-details__text">
    This question is asking if the company has shares admitted to one or more of the following:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>a market established under the rules of a UK recognised investment exchange</li>
      <li>any other UK regulated market or EU regulated market</li>
      <li>any other market outside of the UK</li>
    </ul>
  </p> A company that trades on a market is called a 'traded company'. This is different from a 'trading company', which means a company that is not dormant.
  </div>
</details>




        {{ govukButton({
          text: "Continue"
        }) }}
        <a href="javascript:void(0)" class="webfiling-back-link">Back</a>

      </form>

    </div>


  
  </div>

{% endblock %}
