{% extends "layouts/main-chs.html" %}

{% block pageTitle %}
Sign in to WebFiling
 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}
      <form class="form" action="/trading-on-a-market" method="post">

  <div class="govuk-grid-row">


      
    <div class="govuk-grid-column-two-thirds">







<div class="govuk-form-group">

    
      <h1>
        Sign in to WebFiling

      </h1>
   
  
 



        {{ govukButton({
          text: "Continue",
          href: "sign-in"
        }) }}


    </div>


  
  </div>

{% endblock %}
