{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1>
      {{ serviceName }}
    </h1>

       {{ govukWarningText({
      text: "This prototype is being actively worked on - things might break or change very quickly",
      iconFallbackText: "Warning"
    }) }}

      <h2>Shortcuts</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link govuk-link--no-visited-state" href="/conf-statement-enhancement/">Confirmation statement enhancement</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/misc/">Miscellaneous</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/presenters-idv/">Presenters IDV</a></li>
      </ul>


  </div>
</div>

{% endblock %}
