{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}
      <form class="form" action="javascript:void(0)" method="post">

  <div class="govuk-grid-row">


         <div class="govuk-grid-column-one-quarter webfiling-menu">
  {% include "/includes/webfiling-left-menu.html" %}

         </div>
    <div class="govuk-grid-column-three-quarters">

<p>Filing for: TEST COMPANY LIMITED COMPANY (01234567)</p>






{{ govukCheckboxes({
  name: "how-many-balls",
  value: data['how-many-balls'],
  fieldset: {
    legend: {
      text: "How many balls can you juggle?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "3 or more",
      text: "3 or more"
    },
    {
      value: "1 or 2",
      text: "1 or 2"
    },
    {
      value: "bbbbbbbNone - I cannot juggle",
      text: "None - I cannot juggle"
    }
   
  ]
}) }}



<p>Ut pulvinar massa eu tincidunt eleifend. Morbi rutrum velit vel nisi luctus dignissim. Phasellus quis euismod enim. Nulla facilisi. Suspendisse nec erat ut nulla facilisis lobortis. </p>


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>


  
  </div>

{% endblock %}
